.friendItem {
    background-color: rgb(238, 234, 227);
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friendItem .online {
    color: green;
    font-size: 15px;
}

.friendItem .offline {
    color: red;
    font-size: 15px;
}